/*   categories   */

.categories {
	padding-top: 105px;
	padding-bottom: 105px;
}

.category-wrap {
	display: block;
	background-color: #fff;
	padding-top: 60px;
	padding-bottom: 42px;
	box-shadow: 1px 4px 4px rgba(1, 0, 0, 0.02), 0px 1px 7px rgba(0, 0, 0, 0.03);
	border-radius: 12px;
	text-decoration: none;
	font-size: 18px;
	color: #000;
	font-weight: 400;
	text-align: center;
	margin-bottom: 20px;
	transition: box-shadow .5s ease;
}

.category-wrap:hover {
	box-shadow: 1px 4px 4px rgba(1, 0, 0, 0.05), 3px 1px 20px rgba(0, 0, 0, 0.06);
	transition: box-shadow .4s linear;
}

.category-wrap__img {
	height: 108px;
	background: transparent;
	vertical-align: middle;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.category-wrap__icon {
	display: block;
}



/*   responsive   */


@media (max-width: 880px) {

	.categories {
		padding-top: 65px;
		padding-bottom: 65px;
	}
}















