/*   order-wrapper   */

.order-wrapper {
	padding-bottom: 100px;
}

.ordering-form {
	margin-top: 45px;
}

/*order-block*/

.order-block {
	margin-top: 40px;
	box-shadow: none;
	padding: 0;
}



.order-page__item {
	margin-bottom: 75px;
}

.order-page__item-top {
	padding-bottom: 10px;
	border-bottom: 1px solid #EDEDED;
	width: 100%;
	color: #515151;
	display: flex;
	justify-content: space-between;
}

.order-page__title {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
}

.order-page__sum {
	display: flex;
	font-size: 16px;
}

.order-page__user-data {
	margin-top: 45px;
}

/*   user-data   */

.user-data {
	padding: 0;
	border: none;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 25px;
}

.user-data__input {
	font-size: 16px;
	border-radius: 6px;
	border: 1px solid #999;
	padding: 14px 16px;
}

.user-data__input:focus-visible {
	outline: 1px solid var(--color-2);
	border: none;
}



.checkout-total {
	display: flex;
	align-items: center;
}

.checkout-total__back {
	color: var(--color-2);
	font-size: 16px;
	padding: 7px 10px;
	padding-left: 30px;
	background-image: url(../img/icons/edit.svg);
	background-repeat: no-repeat;
	background-position: left 10px center;
	background-size: 14px 14px;
	background-color: #FBFBFB;
	border-radius: 6px;
	border: 1px solid #DFE1E5;
	text-decoration: none;
	display: block;
}

.checkout-total__block {
	margin-left: auto;
	display: flex;
	align-items: center;
}

.checkout-total__total {}

.total {
	font-size: 28px;
	color: #000000;
	text-align: right;
	font-weight: 700;
	margin-right: 25px;
	display: block;
}

.total small {
	font-size: 28px;
	font-weight: 400;
}



/*   responsive   */

@media (max-width: 991px) {

	.user-data {
		grid-gap: 15px;
	}
}

@media (max-width: 767px) {

	.order-wrapper {
		padding-bottom: 60px;
	}

	.user-data {
		grid-template-columns: 1fr 1fr;
	}

	.checkout-total__block {
		flex-direction: column;
	}

	.total {
		margin-right: 0;
		margin-bottom: 20px;
		margin-left: auto
	}

	.checkout-total__btn {
		margin-left: auto;
	}
}

@media (max-width: 567px) {

	.user-data {
		grid-template-columns: 1fr;
	}

	.order-page__item {
		margin-bottom: 50px;
	}
}

@media (max-width: 470px) {

	.checkout-total {
		display: block;
	}

	.checkout-total__back {
		margin-bottom: 40px;
		width: 145px;
		margin-left: auto;
		margin-right: auto;
	}

	.total {
		margin-right: auto;
	}

	.checkout-total__btn {
		width: 100%;
		margin-top: 10px;
	}
}
















