.product-card {
	background-color: #fff;
	box-shadow: 1px 2px 6px rgba(1, 0, 0, 0.06), 0px 1px 10px rgba(0, 0, 0, 0.03);
	color: #000;
	display: block;
	border-radius: 10px;
	padding: 20px;
	width: 308px;
}

.product-card__link {
	text-decoration: none;
	color: #515151;
	transition: color .4s ease;
}

.product-card__link:hover {
	color: var(--color-1);
	transition: color .4s ease;
}

.product-card button {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

.product-card__img {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	height: 188px;
	background-color: #fff;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.product-card__img img {
	width: 100%
}

.product-card__title {
	font-size: 15px;
	line-height: 1.3em;
	display: block;
	height: 60px;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.product-card__buy-block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 15px;
	margin-bottom: 20px;
}

.product-card__prise-block {
	font-size: 25px;
	font-weight: 700;
	color: #151428;
}

.product-card__prise-block small {
	font-weight: 400;
	font-style: 25px;
}

.product-card__to-cart {
	background-color: var(--color-1);
	width: 90px;
	height: 43px;
	border-radius: 6px;
	background-image: url(../img/icons/to-cart.svg);
	background-position: center center;
	background-repeat: no-repeat;
	border: none;
	background-size: 30px 20px;
	transition: box-shadow 0.6s ease;
}

.product-card__to-cart.active {
	background-image: url(../img/icons/to-cart-active.svg);
	background-color: rgba(217, 73, 35, 0.1);
}

.product-card__to-cart:hover {
	box-shadow: 0px 0px 4px rgba(217, 73, 35, 0.18), 0px 2px 23px rgba(217, 73, 35, 0.38);
	transition: box-shadow 0.6s ease;
}

.product-card__btn-block {
	display: flex;
	justify-content: space-around;
	padding-left: 30px;
	padding-right: 30px;
	max-width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.product-card__btn {
	width: 33px;
	min-width: 33px;
	height: 33px;
	border: none;
	border-radius: 6px;
	background-position: center center;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-color: #fff;
	background-size: 25px 25px;
}

.product-card__btn:hover {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1 );
	background-color: rgba(217, 73, 35, 0.1);
	transition: background .5s ease, box-shadow .5s ease;
}




.product-card__btn_favorites {
	background-image: url(../img/icons/to-favorites.svg);
}
.product-card__btn_favorites:hover,
.product-card__btn_favorites.active {
	background-image: url(../img/icons/to-favorites-active.svg);
}


.product-card__btn_compare {
	background-image: url(../img/icons/compare.svg);
}
.product-card__btn_compare:hover,
.product-card__btn_compare.active {
	background-image: url(../img/icons/compare-active.svg);
}


.product-card__btn_view {
	background-image: url(../img/icons/view.svg);
	display: none;
}

.product-card__btn_view:hover,
.product-card__btn_view.active {
	background-image: url(../img/icons/view-active.svg);
}



/*   responsive   */

@media (max-width: 1399px) {
	
	.product-card {
		width: 270px;
		padding: 14px 14px 17px;
	}

	.product-card__img {
		margin-bottom: 20px
	}

	.product-card__title {
		font-size: 14px;
		height: 57px
	}

	.product-card__buy-block {
		margin-top: 12px;
		margin-bottom: 18px;
		padding-right: 5px;
		padding-left: 2px
	}
}















